body {
    background-color: #b3b3b3;
}

.nav-main {
    width: 100px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10px;
    border: 3px solid rgba(255, 0, 0, 0.445);
    border-right: none;
    border-left: none;
    padding: 2px;
}

ul.head {
    position: absolute;
    top: 5px;
    right:10px;
}

ul.head li {
    display: inline;
    margin-right: 35px; 
    color: #fff;
    background-color: #ff000071;
    border: none; 
    border-radius: 10px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 0 0 #000000;
    
}

ul.head li:hover{
    box-shadow: 0 0 30px 0 rgba(255, 0, 0, 0.615);
}

.order {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
}

.btn-order {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: rgba(255, 0, 0, 0.443);
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-order:hover {
    background:  rgba(255, 0, 0, 0.615);
}
  