.menu-prd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    width: auto;
}

.menu-prd ul {
    margin: 0px auto;
}

.menu-prd li {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    background-color: #fff;
    display: inline;
}

.menu-prd li {
    display: inline-table;
    margin: 20px;
    margin-bottom: 2px;
    padding: 20px;
    width: auto;
    height: auto;
    list-style-type: none;
}

.menu-prd img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 10px;
}

.menu-prd h3 {
    font-size: 24px;
    margin-top: 10px;
}

.menu-prd span {
    font-size: 18px;
    color: #666;
    margin-bottom: 100px;
}

.menu-prd button {
    margin-top: 10px;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #c03a2bd2;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-prd button:hover {
    background:  rgba(255, 0, 0, 0.615);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    list-style: none;
    padding: 0;
}

.page-item {
    margin: 0 5px;
}

.page-item .page-link {
    display: block;
    padding: 8px 16px;
    color: #23364e;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.page-item.active .page-link,
.page-item .page-link:hover {
    background-color: #FF6F61;
    border-color: #FF6F61;
    color: white;
}

.page-item.disabled .page-link {
    color: #ccc;
    pointer-events: none;
    background-color: #f9f9f9;
}

.page-item:first-child .page-link,
.page-item:last-child .page-link {
    border-radius: 50px;
}


