{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title|title }}</title>

    {% block css %} {% endblock %}
</head>
<body>
<!-- Navigation -->
<nav>

    <ul class="head">
        <h1 class="nav-main">
            <a class="nav-link" href="{% url 'index' %}">delFood</a>
        </h1>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'products:index' %}">Каталог</a>
        </li>

        <!--        {% if baskets %}-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link" href="">Корзина</a>-->
        <!--            </li>-->
        <!--        {% else %}-->
        <!--            <h4>Корзина пуста</h4>-->
        <!--        {% endif %}-->

        <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
    </ul>

</nav>

<hr>
<!-- Page Content -->
{% block context %}{% endblock %}
{% block footer %}{% endblock %}

</body>
</html>