{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/global.css'%}">
<link href="{% static 'css/basket.css' %}" rel="stylesheet">
{% endblock %}

{% block context %}
{% if baskets %}
<div class="col-lg-5">
    <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
        Корзина <span class="#">{{ total_quantity }}</span>
    </h4>

    



    {% for b in baskets %}
    <div class="map-order">
        <p style="text-align: center;">Где мы находимся:</p>
        <div class="map">
            <script 
            type="text/javascript" 
            charset="utf-8" async 
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af771cdbe7de121c6faacd706d7410f67ea2fb370faf91046fc9c4b3d22dce770&amp;width=720&amp;height=480&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <div class="image-card">
                <img src="{{ b.product.image.url }}" alt="Изображение товара">
            </div>
            <h5 class="card-title">{{ b.product.name }}</h5>
            <p class="card-text">{{ b.product.description }}</p>
        </div>
        <ul class="list-group-flush">
            <li class="list-group-item d-flex justify-content-between lh-condensed bg-light">
                <span class="text-muted">{{ b.quantity }} шт.</span>
                <span class="text-muted">{{ b.sum }} руб.</span>

                <span class="text-muted">
                   <a href="{% url 'products:basket_add' b.product.id %}"
                      style="text-decoration: none; color: gray;">
                        <span> &plus; </span>
                   </a>

                   <a href="{% url 'products:basket_delete' b.id %}"
                       style="text-decoration: none; color: gray;">
                        <i class="fa-solid fa-plus"></i>
                        <span> &minus; </span>
                   </a>
                </span>
            </li>
        </ul>
    </div>
    {% endfor %}

    <div class="card mb-3">
        <div class="card-footer">
            <p class="float-left">Итого</p>
            <h4 class="float-right">{{ total_sum }} руб.</h4>
        </div>
    </div>
    <button type="button" class="btn btn-success btn-lg float-right">Оформить</button>
</div>


{% else %}
<h4 class="mt-3 mb-3">
    Корзина пуста
</h4>
{% endif %}
{% endblock %}