{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/global.css'%}">
<link href="{% static 'css/products.css'  %}" rel="stylesheet">
{% endblock %}

{% block context %}
    <h1 class="catalog">Каталог</h1>
    <section class="menu-prd">

        <ul>
            {% for product in products %}
            <li class="prd-pizza">

                <img src="/media/{{ product.image }}">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description }}</p>
                <span>{{ product.price }}</span><br>
                <a href="{% url 'products:basket_add' product.id %}">
                    <button type="button" class="btn btn-outline-success">Добавить в корзину</button>
                </a>

            </li>
            {% endfor %}
        </ul>
    </section>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                <a class="page-link"
                   href="{% if products.has_previous %} {% url 'products:page' products.previous_page_number %}
                   {% else %} # {% endif %}"
                   tabindex="-1"
                   aria-disabled="true">Предыдущая
                </a>
            </li>
            {% for page in products.paginator.page_range %}

            <li class="page-item">
                <a class="page-link" href="{% url 'products:page' page %}">{{ page }}</a>
            </li>

            {% endfor %}
            <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                <a class="page-link"
                   href="{% if products.has_next %} {% url 'products:page' products.next_page_number %}
                   {% else %} # {% endif %}">Следующая
                </a>
            </li>
        </ul>
    </nav>


{% endblock %}
