{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/products.css'  %}" rel="stylesheet">
{% endblock %}

{% block context %}
<section class="menu">
    <h1>Каталог</h1>
    <br>
    <ul>
        <li class="prd-pizza">

            <img src="png/pizza.png" alt="Pizza">
            <h3>Пицца</h3>
            <p>description</p>
            <span>500₽</span><br>
            <button>Добавить в корзину</button>

        </li>

        <li class="prd-sushi">

            <img src="png/sushi.png" alt="Sushi">
            <h3>Суши</h3>
            <p>description</p>
            <span>700₽</span><br>
            <button>Добавить в корзину</button>

        </li>

        <li class="prd-burger">

            <img src="png/burger.png" alt="Burger">
            <h3>Бургер</h3>
            <p>description</p>
            <span>600₽</span><br>
            <button>Добавить в корзину</button>

        </li>
    </ul>
</section>
{% endblock %}
